@model Parcial2.Models.Cliente
@{
    ViewBag.Title = "Lista De Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.ID</h2>
<h2>@Model.Nombre</h2>
<h2>@Model.Apellido</h2>
<h2>@Model.sueldo</h2>

